{% load static %}

<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

    {% include 'snippets_cali/head.html' %}

</head>

<body data-spy="scroll" data-target="#main-nav-collapse" data-offset="100">


<!-- Wrapper & Preloader =============================================

<div id="zwrapper"
    class="zwrapper animsition"
    data-animsition-in-class="fade-in"
    data-animsition-in-duration="1000"
    data-animsition-out-class="fade-out"
    data-animsition-out-duration="800"
    data-page-loader-text="california"> -->

<div id="zwrapper">


    {% include 'snippets_cali/topbar.html' %}

<!--/nav-wrapper-->

    {% include 'snippets_cali/header.html' %}


<!-- ==================================
		About Us
 ===================================

    {% include 'snippets_cali/about_us.html' %} -->

    <!-- ========================================
    			Process
    ========================================== -->

    {% include 'snippets_cali/our_services.html' %}

    {% include 'snippets_cali/process.html' %}

<!-- =======================================
                Our Services
========================================= -->


<!-- /#services -->

<!-- ========================================
			Responsive Design
==========================================-->

 <!-- /.responsive-design -->
<!-- ============================================
            Call to action - 2
==============================================-->


<!-- ========================================
			Love Us
==========================================

--> <!-- {% include 'snippets_cali/love_us.html' %} -->

 <!-- /.love-us -->
<!-- ========================================
            Fun Facts
==========================================-->

<!-- ============================================
            Call to action - 1
============================================== -->

  <!--  {% include 'snippets_cali/call_to_action_1.html' %} -->

<!-- ========================================
			team
========================================== -->

  <!--  {% include 'snippets_cali/team.html' %} -->

<!-- ========================================
			Level
========================================== -->


<!-- ========================================
			Support
========================================== -->

  <!--   {% include 'snippets_cali/support.html' %} -->



<!-- ========================================
			blog (3 Column)
========================================== -->

  <!--  {% include 'snippets_cali/blog.html' %} -->

<!-- ==================================
                Subscribe
 =================================== -->


<!-- ========================================
			Contact
========================================== -->

  <!--  {% include 'snippets_cali/contact.html' %} -->

<!-- Footer widgets -->


  {% include 'snippets_cali/footer_widgets.html' %}


</div> <!--/#zwrapper-->



<!-- Offcanvas Elements
============================================= -->






<!-- Javascripts
============================================= -->

  {% include 'snippets_cali/javascript_footer.html' %}

</body>
</html>
