{% load static %}

<!-- js -->
<script src="{% static "assets/lib/imagesloaded/imagesloaded.pkgd.min.js" %}"></script>
<script src="{% static "assets/lib/isotope/dist/isotope.pkgd.min.js" %}"></script>
<script src="{% static "assets/lib/owlcarousel/owl-carousel/owl.carousel.js" %}"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="{% static "assets/lib/waypoints/lib/jquery.waypoints.min.js" %}"></script>
<script src="{% static "assets/lib/waypoints/lib/shortcuts/inview.min.js" %}"></script>

<script src="{% static "assets/lib/FlexSlider/jquery.flexslider.js" %}"></script>
<script src="{% static "assets/lib/simple-text-rotator/jquery.simple-text-rotator.js" %}"></script>
<script src="{% static "assets/lib/jquery.mb.YTPlayer/dist/jquery.mb.YTPlayer.min.js" %}"></script>
<script src="{% static "assets/lib/magnific-popup/dist/jquery.magnific-popup.js" %}"></script>

<script src="{% static "assets/js/main.js" %}"></script>

<!--[if lt IE 10]>
<script>
    $('input, textarea').placeholder();
</script>
<![endif]-->
