<div id="clients" class="section clients overlay-1">
    <div class="container">
        <div class="section-content">
            <div id="client-carousel" class="owl-carousel">

                <div class="client-image item">
                    <img class="img-responsive center-block" src="assets/images/clients/c_logo01.png" alt="">
                </div>

                <div class="client-image item">
                    <img class="img-responsive center-block" src="assets/images/clients/c_logo02.png" alt="">
                </div>

                <div class="client-image item">
                    <img class="img-responsive center-block" src="assets/images/clients/c_logo03.png" alt="">
                </div>

                <div class="client-image item">
                    <img class="img-responsive center-block" src="assets/images/clients/c_logo04.png" alt="">
                </div>

                <div class="client-image item">
                    <img class="img-responsive center-block" src="assets/images/clients/c_logo05.png" alt="">
                </div>

                <div class="client-image item">
                    <img class="img-responsive center-block" src="assets/images/clients/c_logo06.png" alt="">
                </div>

                <div class="client-image item">
                    <img class="img-responsive center-block" src="assets/images/clients/c_logo02.png" alt="">
                </div>

                <div class="client-image item">
                    <img class="img-responsive center-block" src="assets/images/clients/c_logo03.png" alt="">
                </div>

                <div class="client-image item">
                    <img class="img-responsive center-block" src="assets/images/clients/c_logo04.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
