{% load static %}

<header id="header" class="header-wrapper home-parallax home-fade dark-bg">

    <div class="header-wrapper-inner flexslider">
        <ul class="slides">
            <li style="background-image: url({% static "assets/images/intro/loco.jpg" %})">
                <div class="color-overlay"></div>
                <div class="intro-wrapper">
                    <div class="intro">
                        <h1><b>Spark UC3M</b></h1>
                        <p>bienvenido</p>
                        <a href="#services" class="btn btn-default-o onPageNav">¿Quiénes somos?</a>
                    </div><!-- /.intro -->
                </div>
            </li>

            <li style="background-image: url({% static "assets/images/intro/08.jpg" %})">
                <div class="intro-wrapper">
                    <div class="color-overlay"></div>
                    <div class="intro">
                        <h1>We are awsome</h1>
                        <p>Thats How My Life Rolls</p>
                        <a href="#services" class="btn btn-default-o onPageNav">Our Services</a>
                    </div><!-- /.intro -->
                </div>
            </li>

            <li style="background-image: url({% static "assets/images/intro/05.jpg" %})">
                <div class="intro-wrapper">
                    <div class="color-overlay"></div>
                    <div class="intro">
                        <h1>To Begin, Begin</h1>
                        <p>Thats How My Life Rolls</p>
                        <a href="#services" class="btn btn-default-o onPageNav">Our Services</a>
                    </div><!-- /.intro -->
                </div>
            </li>
        </ul>

        <div class="arrow-down">
            <a href="#about-us" class="onPageNav">
                <i class="ion-ios-arrow-down"></i>
            </a>
        </div><!-- /.arrow-down -->

    </div>
    <!--header-wrapper-inner flexslider-->

</header>
