{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    {% include 'snippets/head.html' %}


</head>

<body data-spy="scroll" data-target="#main-nav-collapse" data-offset="100">

<!-- LOADING...
  <div class="page-loader">
      <div class="loader">Loading...</div>
  </div>
-->

<!-- Fixed Top Navigation -->

  {% include 'snippets/fixed_top.html' %}


<!-- /Fixed Top Navigation -->

<!-- Header -->

  {% include 'snippets/header.html' %}

<!-- /Header -->
<!-- About Us -->

  {% include 'snippets/about_us.html' %}

<!-- /About Us -->
<!-- Video -->

  {% include 'snippets/video.html' %}

<!-- /Video -->
<!-- Why-choose-us -->

  {% include 'snippets/why_choose.html' %}

<!-- /Why-choose-us -->
<!-- Fun Facts -->

  {% include 'snippets/fun_facts.html' %}

<!-- /Fun Facts -->
<!-- Service -->

  {% include 'snippets/service.html' %}

<!-- Service -->
<!-- Expertise -->

  {% include 'snippets/expertise.html' %}

<!-- /Expertise -->
<!-- Our Process -->

  {% include 'snippets/our_process.html' %}

<!-- /Our Process -->
<!-- Call To Action -->

  {% include 'snippets/call_to_action.html' %}

<!-- /Call To Action -->
<!-- Portfolio -->

  {% include 'snippets/portfolio.html' %}

<!-- /Portfolio -->
<!-- Call To Action 2 -->

  {% include 'snippets/call_to_action_2.html' %}

<!-- /Call To Action 2 -->
<!-- Team -->

  {% include 'snippets/team.html' %}

<!-- Team -->
<!-- Testimonial -->

  {% include 'snippets/testimonial.html'%}

<!-- Testimonial -->

<!-- Borré Pricing, pero se podría recuperar del template original en caso necesario-->

<!-- Clients -->

  {% include 'snippets/clients.html' %}

<!-- Clients -->
<!-- Blog -->

  {% include 'snippets/blog.html' %}

<!-- Blog -->
<!-- Subscribe -->

  {% include 'snippets/subscribe.html' %}

<!-- Subscribe -->
<!-- Contact-us -->

    {% include 'snippets/contact_us.html' %}

<!-- Contact-us -->

<!-- Footer widgets -->

    {% include 'snippets/footer_widget.html' %}

<!-- Footer widgets -->
<!-- footer -->

    {% include 'snippets/footer.html' %}

<!-- #footer -->

<a id="totop" href="#totop"><i class="fa fa-angle-double-up"></i></a>

    {% include 'snippets/bottom.html' %}

</body>
</html>
